<div class="container">
  <h1>Dummy Users Challenge</h1>

  <form action="/login" method="POST">
    User Login
    <br>
    <input type="text" name="email"><br>
    <input type="text" name="password">
    <input type="submit" value="Submit">
  </form>
</div>